@charset "UTF-8";
/* line 1, ../../сайты/untitled 21 02 23/scss/style.scss */
* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

/* line 6, ../../сайты/untitled 21 02 23/scss/style.scss */
.header {
  background-color: #6347F9;
}

/* line 9, ../../сайты/untitled 21 02 23/scss/style.scss */
.header__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  margin-top: 100px;
  margin-bottom: 20px;
}

/* line 21, ../../сайты/untitled 21 02 23/scss/style.scss */
.header__title {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -14px;
  color: white;
  padding-bottom: 300px;
}

/* line 34, ../../сайты/untitled 21 02 23/scss/style.scss */
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

/* line 40, ../../сайты/untitled 21 02 23/scss/style.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 45, ../../сайты/untitled 21 02 23/scss/style.scss */
.header__inner {
  color: white;
}

/* line 48, ../../сайты/untitled 21 02 23/scss/style.scss */
.header__inner-nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

/* line 54, ../../сайты/untitled 21 02 23/scss/style.scss */
.header__inner-nav .logo {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 1px;
}

/* line 63, ../../сайты/untitled 21 02 23/scss/style.scss */
.header__inner-nav ul {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 32px;
}

/* line 72, ../../сайты/untitled 21 02 23/scss/style.scss */
.header__inner-nav ul li a {
  color: white;
}

/* line 75, ../../сайты/untitled 21 02 23/scss/style.scss */
.header__inner-nav ul li a button {
  color: white;
  background-color: #6347F9;
  border: 1px solid #FFFFFF;
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -3px;
  text-transform: uppercase;
  width: 155px;
  height: 50px;
  cursor: pointer;
}

/* line 91, ../../сайты/untitled 21 02 23/scss/style.scss */
.header__inner-nav ul li a button:hover {
  background-color: #F07C52;
  border: none;
  transition: 0.3s;
}

/* line 103, ../../сайты/untitled 21 02 23/scss/style.scss */
.countries {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -12%;
}

/* line 110, ../../сайты/untitled 21 02 23/scss/style.scss */
.countries-item h1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

/* line 117, ../../сайты/untitled 21 02 23/scss/style.scss */
.countries-item sub {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(51, 51, 51, 0.496405);
}

/* line 126, ../../сайты/untitled 21 02 23/scss/style.scss */
.about {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  margin-bottom: 200px;
}

/* line 132, ../../сайты/untitled 21 02 23/scss/style.scss */
.about__title {
  max-width: 550px;
  margin-top: 30px;
}

/* line 136, ../../сайты/untitled 21 02 23/scss/style.scss */
.about__title h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.49833);
  margin-bottom: 30px;
}

/* line 146, ../../сайты/untitled 21 02 23/scss/style.scss */
.about__title h1 {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -12px;
  color: #333333;
  margin-left: -8px;
}

/* line 158, ../../сайты/untitled 21 02 23/scss/style.scss */
.about__title p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  margin-top: 30px;
}

/* line 167, ../../сайты/untitled 21 02 23/scss/style.scss */
.about__title-points {
  display: flex;
}

/* line 170, ../../сайты/untitled 21 02 23/scss/style.scss */
.about__title-points img {
  margin-right: 50px;
}

/* line 174, ../../сайты/untitled 21 02 23/scss/style.scss */
.about__title-points-text {
  margin-top: 40px;
  margin-bottom: 30px;
}

/* line 178, ../../сайты/untitled 21 02 23/scss/style.scss */
.about__title-points-text h1 {
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  font-family: 'Open Sans';
  font-style: normal;
  letter-spacing: normal;
  margin-left: 0px;
}

/* line 189, ../../сайты/untitled 21 02 23/scss/style.scss */
.about__title-points-text sub {
  font-size: 16px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.496405);
}

/* line 199, ../../сайты/untitled 21 02 23/scss/style.scss */
.about__img {
  background-image: url(../img/about-img.png);
  background-size: cover;
  width: 470px;
  height: 592px;
  display: flex;
  align-items: center;
}

/* line 207, ../../сайты/untitled 21 02 23/scss/style.scss */
.about__img-man {
  width: 270px;
  height: 400px;
  background: #F07C52;
  margin-left: -100px;
  position: relative;
  padding-left: 30px;
}

/* line 215, ../../сайты/untitled 21 02 23/scss/style.scss */
.about__img-man h1 {
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: 'Open Sans';
}

/* line 226, ../../сайты/untitled 21 02 23/scss/style.scss */
.about__img-man sub {
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.502972);
}

/* line 232, ../../сайты/untitled 21 02 23/scss/style.scss */
.about__img-man-img {
  position: absolute;
  bottom: -2px;
  left: 15%;
}

/* line 242, ../../сайты/untitled 21 02 23/scss/style.scss */
.exclusive {
  background: rgba(254, 114, 84, 0.08);
  width: 100%;
  padding-bottom: 110px;
}

/* line 247, ../../сайты/untitled 21 02 23/scss/style.scss */
.exclusive__subtitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.500821);
  padding-top: 75px;
  padding-bottom: 35px;
}

/* line 261, ../../сайты/untitled 21 02 23/scss/style.scss */
.exclusive__title {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -12px;
  color: #000000;
  padding-bottom: 65px;
}

/* line 273, ../../сайты/untitled 21 02 23/scss/style.scss */
.exclusive__box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 110px;
}

/* line 278, ../../сайты/untitled 21 02 23/scss/style.scss */
.exclusive__box-item {
  width: 370px;
  height: 400px;
}

/* line 282, ../../сайты/untitled 21 02 23/scss/style.scss */
.exclusive__box-item-img-rome {
  background-image: url(../img/exc__rome.png);
  background-size: cover;
  width: 370px;
  height: 400px;
  position: relative;
}

/* line 290, ../../сайты/untitled 21 02 23/scss/style.scss */
.exclusive__box-item-img-york {
  background-image: url(../img/exc__york.png);
  background-size: cover;
  width: 370px;
  height: 400px;
  position: relative;
}

/* line 298, ../../сайты/untitled 21 02 23/scss/style.scss */
.exclusive__box-item-img-paris {
  background-image: url(../img/exc__paris.png);
  background-size: cover;
  width: 370px;
  height: 400px;
  position: relative;
}

/* line 306, ../../сайты/untitled 21 02 23/scss/style.scss */
.exclusive__box-item h1 {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -8px;
  color: #000000;
  margin-top: 10px;
}

/* line 317, ../../сайты/untitled 21 02 23/scss/style.scss */
.exclusive__box-item sub {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.502972);
  margin-left: 5px;
}

/* line 331, ../../сайты/untitled 21 02 23/scss/style.scss */
.popular {
  margin-top: 70px;
}

/* line 334, ../../сайты/untitled 21 02 23/scss/style.scss */
.popular__subtitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.49833);
}

/* line 345, ../../сайты/untitled 21 02 23/scss/style.scss */
.popular__title {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -12px;
  color: #333333;
  margin-top: 30px;
  margin-bottom: 70px;
}

/* line 357, ../../сайты/untitled 21 02 23/scss/style.scss */
.popular__box-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 60px;
}

/* line 363, ../../сайты/untitled 21 02 23/scss/style.scss */
.popular__box-grid-item {
  background: #FFF5F5;
  width: 262px;
}

/* line 367, ../../сайты/untitled 21 02 23/scss/style.scss */
.popular__box-grid-item:hover {
  background: #6347F9;
  transition: 0.3s;
  color: white;
}

/* line 373, ../../сайты/untitled 21 02 23/scss/style.scss */
.popular__box-grid-item img {
  margin-bottom: -2px;
  width: 100%;
}

/* line 378, ../../сайты/untitled 21 02 23/scss/style.scss */
.popular__box-grid-item-title {
  padding-left: 30px;
  padding-top: 20px;
}

/* line 382, ../../сайты/untitled 21 02 23/scss/style.scss */
.popular__box-grid-item-title:hover {
  color: white !important;
}

/* line 386, ../../сайты/untitled 21 02 23/scss/style.scss */
.popular__box-grid-item-title h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 5px;
}

/* line 396, ../../сайты/untitled 21 02 23/scss/style.scss */
.popular__box-grid-item-title sub {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/* line 405, ../../сайты/untitled 21 02 23/scss/style.scss */
.popular__box-grid-item-title h1 {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -8px;
  margin-top: 15px;
  margin-bottom: 20px;
}

/* line 420, ../../сайты/untitled 21 02 23/scss/style.scss */
.see__more {
  margin: 0 auto;
  margin-bottom: 200px;
}

/* line 424, ../../сайты/untitled 21 02 23/scss/style.scss */
.see__more-btn {
  height: 50px;
  border: 1px solid #F07C52;
  width: 170px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 200px;
}

/* line 436, ../../сайты/untitled 21 02 23/scss/style.scss */
.see__more-btn h1 {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #F07C52;
}

/* line 449, ../../сайты/untitled 21 02 23/scss/style.scss */
.features {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}

/* line 454, ../../сайты/untitled 21 02 23/scss/style.scss */
.features__img {
  background-image: url(../img/features.png);
  background-size: cover;
  width: 470px;
  height: 600px;
  position: relative;
}

/* line 461, ../../сайты/untitled 21 02 23/scss/style.scss */
.features__img-man {
  position: absolute;
  bottom: 60px;
  right: -135px;
}

/* line 468, ../../сайты/untitled 21 02 23/scss/style.scss */
.features__title {
  width: 470px;
  margin-top: 30px;
}

/* line 472, ../../сайты/untitled 21 02 23/scss/style.scss */
.features__title sub {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.49833);
}

/* line 483, ../../сайты/untitled 21 02 23/scss/style.scss */
.features__title h1 {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -12px;
  color: #333333;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: -10px;
}

/* line 496, ../../сайты/untitled 21 02 23/scss/style.scss */
.features__title p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
}

/* line 508, ../../сайты/untitled 21 02 23/scss/style.scss */
.testimonials h6 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 200% */
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(51, 51, 51, 0.49833);
  margin-bottom: 30px;
}

/* line 524, ../../сайты/untitled 21 02 23/scss/style.scss */
.testimonials h1 {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -12px;
  color: #333333;
  margin-bottom: 50px;
}

/* line 536, ../../сайты/untitled 21 02 23/scss/style.scss */
.testimonials__content {
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 541, ../../сайты/untitled 21 02 23/scss/style.scss */
.testimonials__content-item {
  width: 354px;
}

/* line 544, ../../сайты/untitled 21 02 23/scss/style.scss */
.testimonials__content-item-cloud {
  background-image: url(../img/cloud.png);
  background-size: cover;
  height: 320px;
}

/* line 549, ../../сайты/untitled 21 02 23/scss/style.scss */
.testimonials__content-item-cloud img {
  margin-left: 50px;
  margin-top: -15px;
}

/* line 554, ../../сайты/untitled 21 02 23/scss/style.scss */
.testimonials__content-item-cloud p {
  padding: 25px 50px 0px 50px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.496405);
}

/* line 566, ../../сайты/untitled 21 02 23/scss/style.scss */
.testimonials__content-item-title {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

/* line 571, ../../сайты/untitled 21 02 23/scss/style.scss */
.testimonials__content-item-title-text {
  margin-left: 20px;
}

/* line 574, ../../сайты/untitled 21 02 23/scss/style.scss */
.testimonials__content-item-title-text h4 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
}

/* line 583, ../../сайты/untitled 21 02 23/scss/style.scss */
.testimonials__content-item-title-text sub {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(51, 51, 51, 0.496405);
}

/* line 598, ../../сайты/untitled 21 02 23/scss/style.scss */
.blog {
  background-color: #11253A;
  width: 100%;
  height: 100%;
  padding-top: 70px;
}

/* line 604, ../../сайты/untitled 21 02 23/scss/style.scss */
.blog__sub {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.500821);
}

/* line 615, ../../сайты/untitled 21 02 23/scss/style.scss */
.blog__logo {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 30px;
  margin-bottom: 70px;
}

/* line 622, ../../сайты/untitled 21 02 23/scss/style.scss */
.blog__logo-text {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -12px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  margin-left: -5px;
}

/* line 636, ../../сайты/untitled 21 02 23/scss/style.scss */
.blog__content {
  display: flex;
  justify-content: space-between;
}

/* line 640, ../../сайты/untitled 21 02 23/scss/style.scss */
.blog__content-item {
  width: 540px;
  height: 560px;
  padding-top: 25px;
  background-color: #fff;
  position: relative;
  margin-bottom: 70px;
}

/* line 648, ../../сайты/untitled 21 02 23/scss/style.scss */
.blog__content-item sub {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.49833);
  padding-left: 50px;
}

/* line 660, ../../сайты/untitled 21 02 23/scss/style.scss */
.blog__content-item h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-top: 10px;
  width: 370px;
  padding-left: 50px;
}

/* line 672, ../../сайты/untitled 21 02 23/scss/style.scss */
.blog__content-item h6 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.496405);
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 50px;
}

/* line 686, ../../сайты/untitled 21 02 23/scss/style.scss */
.blog .blog__email {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

/* line 693, ../../сайты/untitled 21 02 23/scss/style.scss */
.blog .blog__email-title h1 {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -8px;
  color: #FFFFFF;
}

/* line 703, ../../сайты/untitled 21 02 23/scss/style.scss */
.blog .blog__email-title h6 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.502972);
}

/* line 715, ../../сайты/untitled 21 02 23/scss/style.scss */
.blog .blog__email-email {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

/* line 720, ../../сайты/untitled 21 02 23/scss/style.scss */
.blog .blog__email-email input {
  width: 270px;
  height: 50px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.496405);
  padding-left: 15px;
  margin-right: 30px;
  border: none;
}

/* line 737, ../../сайты/untitled 21 02 23/scss/style.scss */
.contact__background {
  background-color: #11253A;
  padding-top: 100px;
}

/* line 742, ../../сайты/untitled 21 02 23/scss/style.scss */
.contact {
  display: flex;
  justify-content: space-between;
  padding-bottom: 160px;
}

/* line 747, ../../сайты/untitled 21 02 23/scss/style.scss */
.contact__map {
  width: 570px;
}

/* line 751, ../../сайты/untitled 21 02 23/scss/style.scss */
.contact__title {
  max-width: 454px;
  margin-top: 10px;
}

/* line 755, ../../сайты/untitled 21 02 23/scss/style.scss */
.contact__title h6 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.500821);
  margin-bottom: 30px;
}

/* line 767, ../../сайты/untitled 21 02 23/scss/style.scss */
.contact__title h1 {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -12px;
  color: #FFFFFF;
  margin-bottom: 30px;
  margin-left: -5px;
}

/* line 779, ../../сайты/untitled 21 02 23/scss/style.scss */
.contact__title p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

/* line 789, ../../сайты/untitled 21 02 23/scss/style.scss */
.contact__title-number {
  display: flex;
  align-items: center;
}

/* line 793, ../../сайты/untitled 21 02 23/scss/style.scss */
.contact__title-number-svg {
  border: 1px solid rgba(255, 255, 255, 0.295743);
  border-radius: 24px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 15px;
}

/* line 805, ../../сайты/untitled 21 02 23/scss/style.scss */
.contact__title-number h6 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.502972);
  display: flex;
  align-items: center;
  text-transform: none;
  letter-spacing: normal;
  margin-bottom: 10px;
}

/* line 819, ../../сайты/untitled 21 02 23/scss/style.scss */
.contact__title-number p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  margin-bottom: 0px;
  color: #FFFFFF;
  padding-bottom: 10px;
}

/* line 836, ../../сайты/untitled 21 02 23/scss/style.scss */
.footer {
  background-color: #0C1A29;
}

/* line 839, ../../сайты/untitled 21 02 23/scss/style.scss */
.footer__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

/* line 847, ../../сайты/untitled 21 02 23/scss/style.scss */
.footer__inner-logo h1 {
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -8px;
  color: #FFFFFF;
}

/* line 859, ../../сайты/untitled 21 02 23/scss/style.scss */
.footer__inner-menu ul {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 15px;
}

/* line 871, ../../сайты/untitled 21 02 23/scss/style.scss */
.footer__inner-service ul {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 15px;
}

/* line 883, ../../сайты/untitled 21 02 23/scss/style.scss */
.footer__inner-social-sites {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* line 888, ../../сайты/untitled 21 02 23/scss/style.scss */
.footer__inner-social-sites-block {
  border: 1px solid rgba(255, 255, 255, 0.295743);
  border-radius: 24px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 15px;
}

/* line 903, ../../сайты/untitled 21 02 23/scss/style.scss */
.footer-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.500821);
  margin-top: 15px;
}

/* line 916, ../../сайты/untitled 21 02 23/scss/style.scss */
.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 35px;
}

/* line 922, ../../сайты/untitled 21 02 23/scss/style.scss */
.copyright__left {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.502972);
}

/* line 931, ../../сайты/untitled 21 02 23/scss/style.scss */
.copyright__right {
  display: flex;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: right;
  color: #FFFFFF;
  justify-content: space-between;
  width: 280px;
}

/* line 942, ../../сайты/untitled 21 02 23/scss/style.scss */
.copyright__right a {
  color: white;
}

/* line 966, ../../сайты/untitled 21 02 23/scss/style.scss */
.contact__us-btn {
  width: 170px;
  height: 50px;
  background: #52AA7F;
  cursor: pointer;
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -3px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  margin-top: 30px;
}

/* line 985, ../../сайты/untitled 21 02 23/scss/style.scss */
.subscribe__btn {
  width: 170px;
  height: 50px;
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  letter-spacing: -3px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #52AA7F;
  border: none;
}

/* line 1005, ../../сайты/untitled 21 02 23/scss/style.scss */
.img__woman,
.img__negr {
  position: absolute;
  top: 50px;
  right: 50px;
}

/* line 1012, ../../сайты/untitled 21 02 23/scss/style.scss */
.blog__img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 1018, ../../сайты/untitled 21 02 23/scss/style.scss */
.see_more-btn {
  width: 170px;
  height: 50px;
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -3px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.295743);
  cursor: pointer;
}

/* line 1035, ../../сайты/untitled 21 02 23/scss/style.scss */
.dots {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 125px;
}

/* line 1041, ../../сайты/untitled 21 02 23/scss/style.scss */
.dots__item {
  margin-right: 15px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid rgba(240, 124, 82, 0.503227);
  cursor: pointer;
}

/* line 1051, ../../сайты/untitled 21 02 23/scss/style.scss */
.active {
  background: #F07C52;
  transition: 0.3s;
}

/* line 1056, ../../сайты/untitled 21 02 23/scss/style.scss */
.test1 {
  display: flex;
  justify-content: space-between;
}

/* line 1062, ../../сайты/untitled 21 02 23/scss/style.scss */
.exclusive__box-item-img-circle {
  position: absolute;
  width: 144px;
  height: 144px;
  background-color: #F07C52;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -8px;
  color: #FFFFFF;
  bottom: 30px;
  left: 30px;
}

/* line 1082, ../../сайты/untitled 21 02 23/scss/style.scss */
.about-btn {
  width: 155px;
  height: 50px;
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -3px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #F07C52;
  border: none;
  cursor: pointer;
}

/* line 1099, ../../сайты/untitled 21 02 23/scss/style.scss */
.back-white {
  background-color: #F5F6F8;
}

/* line 1103, ../../сайты/untitled 21 02 23/scss/style.scss */
.service__btn {
  height: 48px;
  width: 154px;
  background: #F07C52;
  border: none;
  font-family: 'Lexend Zetta';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -3px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 55px;
}

/* line 1124, ../../сайты/untitled 21 02 23/scss/style.scss */
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* line 1130, ../../сайты/untitled 21 02 23/scss/style.scss */
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-right: 80px;
  width: 150px;
  margin-top: 30px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

/* line 1145, ../../сайты/untitled 21 02 23/scss/style.scss */
.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75% 75%;
}

/* line 1160, ../../сайты/untitled 21 02 23/scss/style.scss */
.custom-checkbox:checked + label::before {
  border-color: #F07C52;
  background-color: white;
  background-image: url(../img/check.svg);
}

@media screen and (max-width: 1300px) {
  /* line 1172, ../../сайты/untitled 21 02 23/scss/style.scss */
  .countries {
    display: block;
    text-align: center;
    margin-top: 50px;
  }
  /* line 1177, ../../сайты/untitled 21 02 23/scss/style.scss */
  .countries-item {
    margin-bottom: 30px;
  }
  /* line 1182, ../../сайты/untitled 21 02 23/scss/style.scss */
  .exclusive__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  /* line 1192, ../../сайты/untitled 21 02 23/scss/style.scss */
  .about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  /* line 1199, ../../сайты/untitled 21 02 23/scss/style.scss */
  .about__title {
    margin-bottom: 50px;
  }
  /* line 1205, ../../сайты/untitled 21 02 23/scss/style.scss */
  .about__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* line 1211, ../../сайты/untitled 21 02 23/scss/style.scss */
  .about__img-man {
    margin-left: 0px;
  }
  /* line 1215, ../../сайты/untitled 21 02 23/scss/style.scss */
  .popular {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  /* line 1222, ../../сайты/untitled 21 02 23/scss/style.scss */
  .popular__box-grid {
    align-items: center;
    justify-content: center;
  }
  /* line 1227, ../../сайты/untitled 21 02 23/scss/style.scss */
  .features {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  /* line 1233, ../../сайты/untitled 21 02 23/scss/style.scss */
  .features__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* line 1239, ../../сайты/untitled 21 02 23/scss/style.scss */
  .features__img-man {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* line 1247, ../../сайты/untitled 21 02 23/scss/style.scss */
  .custom-checkbox + label {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 160px;
    margin: 30px auto;
  }
  /* line 1257, ../../сайты/untitled 21 02 23/scss/style.scss */
  .chechboxes input {
    display: none;
  }
  /* line 1262, ../../сайты/untitled 21 02 23/scss/style.scss */
  .service__btn {
    margin-top: 20px;
  }
  /* line 1266, ../../сайты/untitled 21 02 23/scss/style.scss */
  .blog__sub {
    text-align: center;
  }
  /* line 1270, ../../сайты/untitled 21 02 23/scss/style.scss */
  .blog__logo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  /* line 1276, ../../сайты/untitled 21 02 23/scss/style.scss */
  .blog__logo-text {
    margin-bottom: 20px;
  }
  /* line 1281, ../../сайты/untitled 21 02 23/scss/style.scss */
  .blog__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* line 1287, ../../сайты/untitled 21 02 23/scss/style.scss */
  .blog__email {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  /* line 1293, ../../сайты/untitled 21 02 23/scss/style.scss */
  .blog__email-title {
    margin-bottom: 30px;
  }
  /* line 1298, ../../сайты/untitled 21 02 23/scss/style.scss */
  .test1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  /* line 1305, ../../сайты/untitled 21 02 23/scss/style.scss */
  .testimonials__content-item {
    margin-bottom: 30px;
  }
  /* line 1308, ../../сайты/untitled 21 02 23/scss/style.scss */
  .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  /* line 1313, ../../сайты/untitled 21 02 23/scss/style.scss */
  .contact__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
}

@media screen and (max-width: 900px) {
  /* line 1324, ../../сайты/untitled 21 02 23/scss/style.scss */
  .footer__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  /* line 1329, ../../сайты/untitled 21 02 23/scss/style.scss */
  .footer__inner-menu {
    margin-top: 20px;
  }
  /* line 1332, ../../сайты/untitled 21 02 23/scss/style.scss */
  .footer__inner-service {
    margin-top: 20px;
  }
  /* line 1335, ../../сайты/untitled 21 02 23/scss/style.scss */
  .footer__inner-social {
    margin-top: 20px;
  }
  /* line 1339, ../../сайты/untitled 21 02 23/scss/style.scss */
  .copyright {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  /* line 1344, ../../сайты/untitled 21 02 23/scss/style.scss */
  .copyright__right {
    margin-top: 30px;
  }
}

/* line 1360, ../../сайты/untitled 21 02 23/scss/style.scss */
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
}

/* line 1373, ../../сайты/untitled 21 02 23/scss/style.scss */
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 1381, ../../сайты/untitled 21 02 23/scss/style.scss */
.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

/* line 1386, ../../сайты/untitled 21 02 23/scss/style.scss */
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 1396, ../../сайты/untitled 21 02 23/scss/style.scss */
#menu-toggle {
  display: none;
}

/* line 1400, ../../сайты/untitled 21 02 23/scss/style.scss */
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

/* line 1412, ../../сайты/untitled 21 02 23/scss/style.scss */
.menu-button::before {
  content: '';
  margin-top: -8px;
}

/* line 1417, ../../сайты/untitled 21 02 23/scss/style.scss */
.menu-button::after {
  content: '';
  margin-top: 8px;
}

/* line 1422, ../../сайты/untitled 21 02 23/scss/style.scss */
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

/* line 1427, ../../сайты/untitled 21 02 23/scss/style.scss */
#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

/* line 1431, ../../сайты/untitled 21 02 23/scss/style.scss */
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 800px) {
  /* line 1437, ../../сайты/untitled 21 02 23/scss/style.scss */
  .menu-button-container {
    display: flex;
  }
  /* line 1441, ../../сайты/untitled 21 02 23/scss/style.scss */
  .menu {
    position: absolute;
    top: 0;
    margin-top: 80px;
    right: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  /* line 1452, ../../сайты/untitled 21 02 23/scss/style.scss */
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  /* line 1460, ../../сайты/untitled 21 02 23/scss/style.scss */
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 40px;
    padding: 4%;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  /* line 1467, ../../сайты/untitled 21 02 23/scss/style.scss */
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  /* line 1477, ../../сайты/untitled 21 02 23/scss/style.scss */
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  /* line 1481, ../../сайты/untitled 21 02 23/scss/style.scss */
  .book-trip {
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=style.css.map */